ion-button {
    display: inline-block;
    margin-block: 5px;
    width: 43%;
    height: 30%;
    margin: 2%;
    white-space: normal;
}

ion-button div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

ion-icon {
    zoom: 6;
}