<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">AgendarActivities</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-button *ngFor="let b of buttons" color="secundary" fill="outline"  [href]="b.redirecTo">
      <div>
        <ion-icon [name]="b.icon"></ion-icon><br>
        {{b.name}}
      </div>
    </ion-button>
  
  </ion-content>
  