<app-header titulo="login"></app-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-row class="top-20">
      <ion-col>
        <ion-button expand="full" type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" type="button" color="primary" (click)="navRegistro()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
