<app-header titulo="Actividad a Reportar"></app-header>
<ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button text="Regresar" defaultHref="/options"></ion-back-button>
</ion-buttons>
<ion-title class="ion-text-capitalize">Actividad a Reportar</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of activitiesList">
      <ion-label>{{a.name}}</ion-label>
      <ion-button type="button" color="danger" href= "/report/{{a.id}}" expand="block">Reportar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>