<app-header titulo="Subir Audio o Video"></app-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button text="Regresar" defaultHref="/reports"></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-capitalize">Subir Audio o Video</ion-title>
  </ion-toolbar>

<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

  <ion-list style="text-align:center">

    
  <ion-row>
    <ion-col>
      <ion-button expand="full"  color="warning" (click)="CaptureAudio()">Grabar Audio</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" type="submit" color="warning" (click)="CaptureVideo()">Grabar Video</ion-button>
    </ion-col>
  </ion-row>

  <!-- <ion-list>
    <ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
      {{ file.name }}
      <p>{{ file.size / 1000 / 1000 | number }} MB</p>
    </ion-item>
  </ion-list>

  <video controls autoplay #myvideo></video> -->

  <ion-button expand="full" type="submit" color="danger">SUBMIT</ion-button>

  </ion-list>         
  <!--
  <ion-list style="text-align:center">
  
    <ion-row class="top-20">
      <ion-col>
        <ion-button expand="full" type="submit" color="warning" (click)="CaptureAudio()">Grabar Audio</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" type="submit" color="warning" (click)="CaptureVideo()">Grabar Video</ion-button>
      </ion-col>
    </ion-row>
    
    
    <ion-item>
      <audio [src]="audio" *ngIf="audio" ></audio>
      </ion-item>

      <ion-item>
        <video [src]="video" *ngIf="video" ></video>
        </ion-item>

    <ion-button expand="full" type="submit" color="danger"
             >SUBMIT</ion-button>

</ion-list> -->

  </form>
</ion-content>
